<!DOCTYPE html>
<html lang="en">
	<%- include('partial/head') %>
	<body>
		<!-- Start Navbar -->
		<%- include('partial/navbar') %>
		<!-- End Navbar -->

		<!-- Start User-List -->
		<section id="user-list" class="container">
			<h1 class="text-center py-3 user__main-title"><%= bodyTitle %></h1>
			<a href="/user/new" class="user__add-new">
				<button type="button" class="btn btn-add">
					<i class="fas fa-plus"></i>
					<span class="text-white">Add New User</span>
				</button>
			</a>

			<!-- Start User-Profile -->
			<div class="row user__profile justify-content-lg-around">
				<% users.forEach(user => { %>
				<div class="col-10 col-md-5 col-lg-3 user__profile-card">
					<div class="user__profile-card-top text-center">
						<img src="/images/male_avatar.svg" alt="Avatar" class="img-fluid" />
						<h3><%=user.name%></h3>
						<small><%=user.email%></small>
					</div>
					<div class="user__profile-card-body mt-3 px-3">
						<p>Password: <%=user.password %></p>
						<div class="user__profile-settings text-center row">
							<a href="/user/<%=user.id%>/edit" title="EDIT" class="col-6"><i class="fas fa-edit"></i></a>
							<form action="/user/<%=user.id%>/delete" method="post" class="col-6">
								<button class="fas fa-trash-alt" style="padding: 0%; background: none; border: none; display: mx-2"></button>
							</form>
						</div>
					</div>
				</div>
				<% }) %>
			</div>
			<!-- End User-Profile -->
		</section>
		<!-- End Users-List -->

		<!-- Start Footer -->
		<%- include('partial/footer') %>
		<!-- End Footer -->
	</body>
</html>
